* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: sans-serif;
}

#calculator {
    width: 280px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    text-align: center;
    border: 1px solid #999;
    border-radius: 5px;
}

#display {
    width: 240px;
    height: 50px;
    padding: 10px;
    vertical-align: middle;
    color: whitesmoke;
    font-size: 40px;
    text-align: right;
}

.row {
    width: 100%;
}

button {
    width: 50px;
    height: 50px;
    margin: 1%;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #999;
    color: whitesmoke;
    font-size: 25px;
    cursor: pointer;
}

#equals {
    margin: 10px;
    width: 200px;
    height: 60px;
    border-radius: 30px;
}

.operator {
    background-color: darksalmon;
}