.nav {
    color: white;
    background-color:dimgray;
    width: 90%;
    height: 50px;
    padding: 1%;
    margin: 1%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}
ul {
    list-style-type:none;
}
a {
    color: white;
    text-decoration: none;
}
button {
    background-color: aqua;
    box-shadow: 3px 3px;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
}